package appkit

templ P() {
	<p class="text-base text-neutral-800">
		{ children... }
	</p>
}

templ Subtitle() {
	<h2 class="text-base text-neutral-800 font-medium">
		{ children... }
	</h2>
}

templ Info() {
	<div class="text-sm text-neutral-500 flex items-center gap-1">
		<div>
			@InfoIcon()
		</div>
		<div class="ui-info-content flex-1 flex items-center gap-0.5">
			{ children... }
		</div>
	</div>
}
