package appkit

templ P() {
	<p class="text-base text-neutral-800">
		{ children... }
	</p>
}

templ Subtitle() {
	<h2 class="text-base text-neutral-800 font-medium">
		{ children... }
	</h2>
}

templ Info() {
	<p class="text-sm text-neutral-500 flex items-center gap-1">
		<span>
			@InfoIcon()
		</span>
		{ children... }
	</p>
}
