package examples

import "github.com/invopop/appkit"

// Page provides the main wrapper around content.
templ Page() {
	<html>
		<head>
			<title>Invopop - Appkit</title>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			@appkit.GetCss()
			@appkit.GetScripts()
		</head>
		<body>
			<main class="wrapper">
				<div class="bg-danger-500 font-bold p-2">
					Test
				</div>
			</main>
		</body>
	</html>
}
